{% extends "index.html" %}
{% block content %} 
<div id="login">
    <div class="container mt-5">
        <h1>Cadastro</h1>
        
        <form action="{{ url_for('auth.cadastro') }}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class = "name">
                {% if form.nome.errors %}
                    {{ form.nome(placeholder="Nome", class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.nome.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.nome(placeholder="Nome") }}
                {% endif %}
            </div>
            <div class = "email">
                {% if form.email.errors %}
                    {{ form.email(placeholder="Email", class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.email(placeholder="Email") }}
                {% endif %} 
            </div>

            <div class = "senha">
                {% if form.senha.errors %}
                        {{ form.senha(placeholder="Senha", class="is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.senha.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                {% else %}
                    {{ form.senha(placeholder="Senha") }}
                {% endif %}
            </div>

            <div class = "senha">
                {% if form.confirmar_senha.errors %}
                        {{ form.confirmar_senha(placeholder="Confirmar Senha", class="is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.senha.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                {% else %}
                    {{ form.confirmar_senha(placeholder="Confirmar Senha") }}
                {% endif %}
            </div>
    
            <div class = "entrar">
                {{ form.submit(class="btn-outline-info") }}
                <P>Já tem uma conta? <a href="/">Entre aqui</a></P>
            </div>
        </form>
    </div>
</div>
{% endblock %}

