{% extends "index.html" %}
{% block content %} 
    <div class="container">
        <h1>Cadastro</h1>
        
        <form action="{{ url_for('cadastro.cadastro') }}" method="POST">
            <div class = "name">
                <input type="text" placeholder="Nome" name="nome">
            </div>
            <div class = "email">
                <input type="email" placeholder="E-mail" name="email">
            </div>
            <div class = "senha">
                <input type="password" placeholder="Senha">
            </div>
            <div class = "senha">
                <input type="password" placeholder="Confirmar senha" name="senha">
            </div>
    
            <div class = "entrar">
                
                <input type = "submit" value="Cadastrar">
                <P>Já tem uma conta? <a href="/">Entre aqui</a>
                </P>
            </div>
        </form>
    </div>
{% endblock %}

