{% extends "index.html"%}
{% block content %}
    <div id = "login">
        <div class = "container" style="margin-top: 100px;">

            <h1>Código de recuperação</h1>
            <p>Você recebeu no seu email um código para que você possa recuperar sua conta <br> Digite o codigo que você recebeu logo abaixo</p>   
            
            <form 
                action="{{ url_for('auth.codRec', cod=cod) }}"
                method="POST"
                enctype="multipart/form-data"
            >
                {{ form.hidden_tag() }}
                    <div class="codigo">
                        {{ form.codigo(placegolder="Digite o código")}}
                    </div>
                    <div class = "entrar"> 
                        <input type="submit" value="Enviar">
                        
                    </div>
            </form>

        </div>
    </div>
{% endblock%}