{% extends "index.html" %}
{% block content %}
<div class="main">
    <div class="coluna1" >
      <div class="elemento">
        <a 
            c-get="{{ url_for('principal.lista_topicos', filtro='Mais Recentes') }}" 
            c-swap="#lista-topicos" 
            class="btn btn-outline-secondary"
          >
            Recentes
          </a>
      </div>
      <div class="elemento">
        <a 
            c-get="{{ url_for('principal.lista_topicos', filtro='Mais Popular') }}" 
            c-swap="#lista-topicos" class="btn btn-outline-secondary"
          >
            Populares
          </a>
      </div>
      
      <div class="topico">
        <a href="criando+topico" class="btn btn-secondary" style="margin-left: 650px;">+ Criar Tópico</a>
      </div>
    </div>

    <div class = "coluna2">
       <div class="views">
          <a>
            Respostas
          </a>
       </div>
       <div class="views">
        <a>
          Vizualiçãoes
        </a>
       </div>
       <div class="views">
        <a>
          Atividade
        </a>
       </div>
     
     
      
    </div>

    <div class="coluninha">
      <a>Topicos</a>
    </div>
    <hr>
    {% if filtro %}
      <div c-container="{{ url_for('principal.lista_topicos', filtro=filtro) }}"></div>
    {% else %}
      <div c-container="{{ url_for('principal.lista_topicos', filtro='Mais Popular') }}"></div> 
    {% endif %}
    

</div>
{%  endblock %}