<form 
        action=" {{ url_for('principal.criando_topico') }}" 
        method="POST" 
        c-append="lista-topicos"
        c-reset="true"
        c-reload-container="true"
        enctype="multipart/form-data">
    
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">Titulo do tópico</label>
        {{ form.titulo(class="form-control", placeholder="Titulo") }}
    </div>
      
    <div class="mb-3 form-group col-md">
        <label class="form-label">Categorias</label>
        {{ form.categoria(class="form-control") }}
    </div>
      
    <div class="mb-3">
        <label class="form-label">Texto do tópico</label>
        {{ form.texto(class="form-control", rows="3") }}
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Carregar Arquivo</label>
        {{ form.arquivo }}
        <input class="form-control" type="file" id="formFile" name="arq">
    </div>
    
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>