{% extends 'index.html' %}
{% block content %}
<main role="main" class="container mt-5">
    <div style="background: #ffffff; padding: 10px 20px; border: 1px solid #dddddd; border-radius: 3px; margin-bottom: 20px;">
        <form 
                action=" {{ url_for('principal.criando_topico') }}" 
                method="POST" 
                enctype="multipart/form-data"
            >
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.titulo.label(class="form-control-label") }}
        
                    {% if form.titulo.errors %}
                        {{ form.titulo(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.titulo.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.titulo(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <label class="form-label">Categorias</label>
                    {{ form.categoria(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.texto.label(class="form-control-label") }}
                    {% if form.texto.errors %}
                        {{ form.texto(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.texto.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.texto(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
              
            <div class="modal-footer">
            <a href="/principal" class="btn btn-danger">Voltar</a>
            <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='texto') }}
    </div>
</main>
{% endblock %}