<form 
        action=" {{ url_for('principal.criandoTopico', idUsuario=idUsuario) }}" 
        method="POST" 
        c-append="lista-topicos"
        c-reset="true"
        c-reload-container="true"
        enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Titulo do tópico</label>
        <input type="text" class="form-control" placeholder="Titulo" name="titulo">
    </div>
      
    <div class="mb-3 form-group col-md">
        <label class="form-label">Categorias</label>
        <select class="form-control" name="list">
            <option value="Engenharia de Software">Engenharia de software</option>
            <option value="Banco de Dados">Banco de Dados</option>
        </select>
    </div>
      
    <div class="mb-3">
    <label class="form-label">Texto do tópico</label>
    <textarea class="form-control"  rows="3" name="texto"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Carregar Arquivo</label>
        <input class="form-control" type="file" id="formFile" name="arq">
    </div>
    
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>