{% extends "index.html" %}
{% block content %}
<div class="container" style="margin-top: 75px; margin-left: 200px;">
    <div class="row align-items-center" style="width: auto;">
        <div class="col-1" style="margin-right: 40px;">
            <img class="rounded-circle " style="height: 120px; width: 120px; margin-bottom: 16px;" src="{{ imagem }}">
        </div>
        <div class="col">
            <h1>{{ topico.titulo }}</h1>
            <h3>{{ topico.autor.nome}}</h3>
        </div>
    </div>
    <p>{{ topico.categoria }} -- {{ topico.etiqueta }}</p>
    <p>{{ topico.texto|safe }}</p>
    <hr>
    <div c-container="{{ url_for('principal.lista_respostas', topicoID=topico.id) }}" style="width: auto;"></div>
    <hr>
    <div class="container" style="padding-left: 0px; padding-right: 0px; width: 100%;">
        <form 
                action="{{ url_for('principal.detalhe_topico', topicoID=topico.id) }}"
                method="POST"
                enctype="multipart/form-data"
            >
            {{ form.hidden_tag() }}
            <div class="form-group">
                {% if form.texto.errors %}
                    {{ form.texto(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.texto.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.texto }}
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if topico.autor.id == current_user.id %}
                    <a class="btn btn-outline-danger" href="{{ url_for('principal.excluir_topico', topicoID=topico.id) }}">Excluir Tópico</a>
                {% endif %}
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='texto') }}
    </div>
</div>
{% endblock %}