{% for resposta in respostas %} 
<div class="container mb-3" style="background: #ffffff; padding: 10px 20px; border: 2px solid #aaaaaa; border-radius: 3px; width: 1110px;">
    <div class="row">
        <div class="col-md-1">
            <img 
            class="rounded-circle article-img"
            src="{{ url_for('static', filename='profile-pics/' + resposta.autor.arq_imagem) }}"
            style="height: 50px; width: 50px;"
            >
        </div>
        <div class="col-xl-10">
            <div class="media-body">
                <div class="align-center">
                {{ resposta.autor.nome }}
                <small class="text-muted">{{ tempo_relativo(resposta.data) }}</small>
        
                </div>
                <p class="article-content">{{ resposta.texto|safe }}</p>
            </div>
        </div>
        {% if resposta.autor.id != current_user.id%}
            <div class="col">
                <button 
                    class="btn btn-outline-secondary"
                    style="border: 0px;"
                    c-get="{{ url_for('principal.denuncia', targetID=resposta.autor.id, topicoID=resposta.topico.id) }}"
                    c-target="#exibir-denuncia"
                    data-bs-toggle="modal" data-bs-target="#exampleModal"
                >
                    <i class="bi bi-flag"></i>
                </button>
                
            </div>
        {% endif %}
    </div>
</div>
{% endfor %}