<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CSS/style.css">

    <title>Document</title>
</head>
<body>
    <div id = "login">
        <div class = "container">

            <h1>Digite sua nova senha</h1>
            <p>Perfeito! Agora basta você digitar sua nova senha <br> e entaõ realizar o login novamente</p>   
            
            
            <div class = "novasenha">
                <input type="password" placeholder="Nova senha">
            </div>

            <div class = "novasenha">
                <input type="password" placeholder="Confirmar senha">
            </div>


            <div class = "entrar"> 
                <input type="submit" value="Enviar">
                
            </div>

        </div>
    </div>
</body>
</html>