{% extends "index.html" %}
{% block content %} 
<!-- TOPO -->
<div class="topnav fixed-top">
      <div class ="campus">
        <a class="active" href="#home">Conecta Campus</a>
      </div>
        <a href="perfil"><i class="bi bi-person-fill"></i></a>
        <a href="#notificacao"><i class="bi bi-bell-fill"></i></a>
        
    <div class ="barra">
    <input type="text" placeholder="Search..">
    </div>
</div>


    <!-- Side navigation -->
<div class="sidenav">
  <a href="#">Topicos</a>
  <a href="#">Minhas postagens</a>
  <a href="#">Professores</a>
  <a href="#">Alunos</a>
  <a href="#">Mais</a>
  <div class="descer">
    <a href="#">Categorias</a>
    <a href="#">Etiquetas</a>
    <a href="{{ url_for('principal.logout') }}">Logout</a>
  </div>
</div>
<div> {% include 'conteudoPrincipal.html' %} </div>
{% endblock %}