{% extends "index.html" %}
{% block content %} 
<div id="login">
    <div class = "container">
    
        <h1>Esqueceu sua senha?</h1>
        <p>Enviaremos um e-mail com instruções de como <br> recuperar sua senha.</p>   
        
        <form action="{{ url_for('recuperarConta.recuperar') }}" method="POST">
            <div class = "email">
                <input type="email" placeholder="E-mail" name="email">
            </div>
        
        
            <div class = "entrar"> 
                <input type="submit" value="Enviar">
                <P>Ainda não tem uma conta? <a href="/cadastro">
                            Crie aqui
                    </a>
                </P>
            </div>
        </form>
    
    </div>
</div>
{% endblock %}
